<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CNNSTR" connectionString="Server=DESKTOP-1CB92NJ\SQLEXPRESS; DataBase=P520221Facturacion; INTEGRATED SECURITY=true;"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>